html,body,input,table,tr,th,td,ul,li{margin: 0;padding: 0;}

ul,li{list-style: none;}
.container{position: relative;margin:20px 0 230px 20px;}
.getDateInput{width: 300px;height: 30px;}

/*外层容器*/
.datepicker{position: absolute;border:1px solid #555;background-color: #fff;top: 0px;left: 0px;}
/*头部*/
.datePicker_header{background-color: #bbbbbb;}
.datePicker_headercontainer{position: relative; margin: 0 auto;width: 140px;height: 30px;line-height: 30px;}
.datePicker_yearspan,.datePicker_monthspan{width: 70px;text-align: center;color: #fff;cursor: pointer;background: url(../images/bgheader.png) no-repeat 55px center;font-weight: bold;}
.datePicker_monthspan{background: url(../images/bgheader.png) no-repeat 45px center;}
.datePicker_yearspan{float: left;}
.datePicker_monthspan{float: right;}
/*列表*/
.datePicker_yearlist,.datePicker_monthlist{display: none;position: absolute;top: 30px;left: 5px;width: 68px;height: 300px;overflow: auto;border: 1px solid #ccc;background-color: #fff;text-align: center;}
.datePicker_monthlist{top: 30px;left: 78px;}
.datePicker_yearlist li:hover,.datePicker_monthlist li:hover{background-color: #E94949;}
/*表格*/
.datePicker_tabthead{background-color: #F3F3F3;}
.datePicker_body tr th,.datePicker_body tr td{width: 35px;height: 25px;text-align: center;font-size: 14px;color: #999;}
.datePicker_body tr td.currentMonthData{color: #333;}
.datePicker_body tr td:hover{background-color: #E94949;cursor: pointer;}
.datePicker_today{background-color: #E94949;cursor: pointer;}


.skin_a.datepicker{border:1px solid red;}
.skin_a .datePicker_header{background-color: red;}
.skin_a .datePicker_yearspan{background: url(../images/bgheader1.png) no-repeat 55px center;}
.skin_a .datePicker_monthspan{background: url(../images/bgheader1.png) no-repeat 45px center;}
.skin_a .datePicker_tabthead{background-color: #ff9393;}
.skin_a .datePicker_body tr th,.skin_a .datePicker_body tr td{color: red;width: 50px;height: 30px;}

